@import '../../styles/global';
.no-reservations {
  color: #ff6b6b; 
  background-color: #fff0f0; 
  padding: 20px; 
  text-align: center; 
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  border: 1px solid #ffcccc; 
  border-radius: 10px; 
  z-index: 2000; 
}


.bookings-list {
  list-style-type: none;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  overflow-y: auto; 
  background-color: #ffffff; 
  z-index: 999; 

  @include medium-to-large-screen {
    /* For medium to large screens, adjust the width as needed */
    width: 300px;
  }
}

.booking-item {
  padding: 10px 0;
  animation: fadeIn 0.5s ease-out;
  border-bottom: 1px solid #eaeaea;
  transition: background-color 0.3s, border-color 0.3s;

  &:hover {
    background-color: #fdf2c1;
    border-bottom-color: #d0af72;
  }
}

.booking-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;

  button {
    transition: background-color 0.3s, transform 0.2s, color 0.3s;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;

    background-color: #f9ae35;
    color: #ffffff;

    &:hover {
      transform: scale(1.05);
      background-color: #f1751c;
      color: #ffffff;
    }
  }

  .cancel-button {
    background-color: #ff6b6b;
    color: #ffffff;

    &:hover {
      background-color: #e63939;
    }
  }
}
